<!DOCTYPE html>
    <div ng-controller="toolbarController" class="cover-background">

        <div>
            <md-toolbar md-scroll-shrink ng-if="true" class="navigation">
                <h3>
                    <span id="logo">{{title}}</span>
                </h3>
            </md-toolbar>
        </div>

        <div id="cover">
            <div class="cover-back">
                <div class="cover-content">
                    <h1 class="cover-content-h1">Video Uploader</h1>
                    <h2 class="cover-content-h2">Start to upload and watch a video</h2>
                    <uploader></uploader>
                </div>
            </div>
        </div>

    </div>
